services:
  mongo:
    image: mongo:7
    container_name: wow-prog-db
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: wow-prog-backend
    restart: unless-stopped
    env_file:
      - ./backend/.env
    environment:
      - MONGODB_URI=mongodb://mongo:27017/wow_guild_tracker
    volumes:
      - ./data/images:/app/data/images
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      args:
        - NEXT_PUBLIC_API_URL=https://suomiwow.vaarattu.tv
    container_name: wow-prog-frontend
    restart: unless-stopped
    environment:
      - NEXT_PUBLIC_API_URL=https://suomiwow.vaarattu.tv
      - API_URL=http://backend:3001
      - NODE_ENV=production
    depends_on:
      - backend
    networks:
      - app-network

  nginx:
    build: ./nginx
    container_name: wow-prog-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/html:/var/www/html
    depends_on:
      - frontend
      - backend
    networks:
      - app-network

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge
